body {
	font-family: "Gill Sans", sans-serif;
	background-color: #00A;
}

a {
	color: #FF0;
	font-size: 2em;
	text-decoration: none;
}

ul {
	list-style-type: square;
}

h1, h2 {
	font-family: "Trebuchet MS", "MS Trebuchet", sans-serif;
	color: #F33;
	font-size: 3em;
	text-align: center;
}

#content {
	color: #0F0;
	font-size: 2em;
}

.slide_arrows {
	display: block;
	padding: 10px;
	font-weight: bold;
	width: 40px;
	height: 20px;
	text-align: center;
	float: left;
	font-size: 2em;
}

.slide_arrows a {
	color: #DDD;
	text-decoration: none;
	font-size: 1em;
}

#nav {
	position: fixed;
	bottom: 30px;
}

pre, span.code {
	font-family: Monaco, fixed, sans-serif;
	font-size: 0.7em;
}