body {
	font-family: Helvetica, sans-serif;
	background-color: #009;
}

a {
	color: #FF0;
	font-size: 2em;
	text-decoration: none;
}

h1, h2 {
	color: #F00;
	font-size: 3em;
}

#content {
	color: #0F0;
	font-size: 2em;
}

.slide_arrows {
	display: block;
	padding: 10px;
	border: 1px solid #999;
	width: 20px;
	height: 20px;
	text-align: center;
	float: left;
	font-size: 1em;
}

.slide_arrows a {
	color: #DDD;
	text-decoration: none;
	font-size: 1em;
}