body {
	font-family: "Gill Sans", sans-serif;
	background-color: #00A;
}

a {
	color: #FF0;
	font-size: 1.7em;
	text-decoration: none;
}

ul {
	margin-top: 0px;
	list-style-type: square;
}

h1, h2 {
	font-family: "Trebuchet MS", "MS Trebuchet", sans-serif;
	color: #FFF;
	font-size: 3em;
	text-align: center;
}

#content {
	display: block;
	color: #0F0;
	font-size: 1.7em;
	float: left;
}

#links {
	float: right;
	padding-right: 100px;
}

.slide_arrows {
	padding: 10px;
	font-weight: bold;
	width: 40px;
	height: 20px;
	text-align: center;
	font-size: 2em;
}

.slide_arrows a {
	color: #DDD;
	text-decoration: none;
	font-size: 1em;
}

#nav {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 30px;
}

pre, span.code {
	font-family: Monaco, fixed, sans-serif;
	font-size: 0.7em;
}